// Theme's Palette
@import("D:/profile/spark/blog/mulean-blog/node_modules/@vuepress/theme-blog/styles/palette.styl")

// User's Palette
@import("D:/profile/spark/blog/mulean-blog/docs/.vuepress/styles/palette.styl")